@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}

.background-about {
    background: url(../../assets/about-us-background.svg) center/cover no-repeat;
    width: 100%;
    min-height: 313px;
}

.header {
    padding: 20px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.paragraph {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    margin: 15px 50px 15px 50px;
}