
.edit-button{
    background-color: #23568E !important;
    font-size: 16px !important;
    font-weight: bold !important;
    border-radius: 15rem !important;
    width: 311px !important;
    height: 38px !important;
}