* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #005792;
    text-align: center;
    height: 100svh;
  }

  .base-layout {
    height: 100%;
  }
  
  .logo {
    height: auto;
    padding: 95px 0 78px 0;
  }

  .card{
    background-image: url(../../assets/layout-bg-rotated.svg);
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    height: calc(100svh);
  }
  
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
  }


  .login-card {
    padding: 51px;
  }