.small-button-water{
    min-width: 35px !important; 
    height: 30px !important;
    padding: 0 !important;
    margin: 5px !important;
}

.small-icon-water{
    width: 17px !important; 
    height: 17px !important;
    padding: 0 !important;
}