@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    align-items: self-start;
}

.text-header {
    font-weight: bold;
}

img{
    width: 40px;
}

.text-container {
    font-family: Poppins;
    text-align: left;
}

.user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    gap: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}